// -------- Variables -------------

$body-bg-color: linear-gradient(#0f054c 50%, #0d0d2b);
$btn-bg-color: #3671e9;
$span-txt-color: #979797;

// Why us section
$why-us-icon-color: #4097f8;
$why-us-icon-bg-color: #3c308a;

// Cryptocurrencies section
$bitcoin-icon-bg-color: #f9aa4b;
$ethereum-icon-bg-color: #1181e8;

// Features section
$features-section-bg-color: linear-gradient(180deg, #280766, #0d0d2b);

// CTA section
$cta-section-card-bg-color: #1672fd;

// Footer
$footer-bg-color: #0d0d2b;
$footer-icon-color: #eeeeee;
$footer-icon-bg-color: #28285a;

// ------------- Mixins --------------------
@mixin button($width: 150px, $pd-y: 9px, $pd-x: 10px, $bdr-r: 25px,$fnt-size:1.4rem) {
  width: $width;
  padding: $pd-y $pd-x;
  background-color: $btn-bg-color;
  color: #fff;
  border-radius: $bdr-r;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: $fnt-size;
}
@mixin flexbox($flow: row wrap, $jtf: center, $algn-items: center) {
  display: flex;
  flex-flow: $flow;
  justify-content: $jtf;
  align-items: $algn-items;
}
@mixin border($color:magenta) {
  border: 1px solid $color;
}
// 400 500 700