// Main content styles
.main-content {
  width: 100%;

  // Why us section
  .why-us-wrapper {
    width: 100%;
    background-image: url(../assets/why-us-section-assets/why-us-pattern1.png),
      url(../assets/why-us-section-assets/why-us-pattern2.png),
      url(../assets/why-us-section-assets/why-us-pattern3.png);
    background-repeat: no-repeat;
    background-position: left center, right bottom, right top;
    background-size: 250px;
    @include flexbox;

    // Stats section
    .stats-section {
      width: 80%;
      @include flexbox($flow: column nowrap);
      margin-bottom: 75px;
      &__reference {
        width: 50%;
        margin-bottom: 40px;
        text-align: center;

        .fas {
          color: $btn-bg-color;
          background-color: lighten($footer-bg-color, 20%);
          font-size: 35px;
          padding: 20px;
          border-radius: 50%;
        }
        &__title {
          font-size: 2.5rem;
          // width: 100%;
          margin: 15px auto;
        }
        &__description {
          font-size: 1.4rem;
        }
      }
    }
    // Why us content
    .why-us-section {
      width: 80%;
      max-width: 400px;
      margin-bottom: 75px;

      &__content {
        width: 100%;
        text-align: center;

        &__title {
          font-size: 2.5rem;
          span {
            color: lighten($ethereum-icon-bg-color, 40%);
          }
        }
        &__description {
          font-size: 1.4rem;
          margin: 20px auto;
        }
        &__btn {
          @include button;
          margin: 20px auto 10px;
          transition: all 0.3s ease-in;

          &:hover {
            background-color: lighten($btn-bg-color, 10%);
          }
          &:active {
            transform: scale(0.95);
            background-color: darken($btn-bg-color, 30%);
          }
        }
      }
      &__illustration {
        width: 100%;
        animation-delay: 8s;
        animation-timing-function: ease-in-out;
        animation-duration: 2.5s;
      }
    }
    // Benefits section
    .benefits-section {
      width: 80%;
      max-width: 400px;
      text-align: center;

      &__title {
        font-size: 2.5rem;
        span {
          color: lighten($ethereum-icon-bg-color, 10%);
        }
      }
      &__description {
        font-size: 1.4rem;
        margin-top: 30px;
      }
      .card-info {
        width: 100%;
        max-width: 400px;
        background-color: #fff;
        color: #000;
        border-radius: 10px;
        padding: 25px 15px;
        transform: translateY(50%);
        text-align: left;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);

        &__title {
          font-size: 1.4rem;
          color: $ethereum-icon-bg-color;
        }
        &__description {
          font-size: 1.3rem;
          font-weight: 700;
          margin: 15px auto;
          span {
            color: lighten($ethereum-icon-bg-color, 10%);
          }
        }
        &__advice {
          font-size: 1rem;
          color: $span-txt-color;
        }
      }
    }
  }
  // Cryptocurrencies section
  .cryptocurrencies-section {
    width: 100%;
    background-color: #fff;
    color: black;
    padding: 120px 0 50px;
    @include flexbox;
    text-align: center;

    &__title {
      font-size: 2.4rem;
      width: 80%;
      max-width: 500px;
      margin-bottom: 50px;
    }
    .cryptocurrencies-info-cards {
      width: 80%;
      max-width: 400px;
      @include flexbox($jtf: space-evenly);
      .info-card {
        width: 100%;
        max-width: 290px;
        @include flexbox;
        padding: 30px 0 15px;
        margin-bottom: 50px;
        border-radius: 20px;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3),
          1px -1px 2px rgba(0, 0, 0, 0.4);
        cursor: pointer;
        transition: all 0.3s ease-in;

        &:hover {
          background-color: #35068c;
          color: #fff;
          transform: scale(1.05);
          p {
            color: #fff;
          }
        }
        &:active {
          transform: scale(0.95);
          background-color: lighten(#35068c, 10%);
        }
        .fab {
          font-size: 80px;
        }
        .fa-bitcoin {
          color: $bitcoin-icon-bg-color;
        }
        .fa-ethereum {
          color: #fff;
          padding: 10px 20px;
          font-size: 60px;
          border-radius: 50%;
          background-color: $ethereum-icon-bg-color;
        }

        &__title {
          width: 100%;
          font-size: 2rem;
          margin: 30px auto 20px;
          span {
            font-size: 1rem;
            font-weight: 400;
            color: $span-txt-color;
          }
        }
        &__description {
          font-size: 1.4rem;
          width: 70%;
          color: darken($span-txt-color, 20%);
        }
        &__btn {
          @include button;
          margin: 30px auto;
          i {
            margin-left: 10px;
            color: $btn-bg-color;
            background-color: #fff;
            border-radius: 50%;
            padding: 5px;
            width: 25px;
          }
        }
      }
    }
  }

  // Features section
  .features-section {
    width: 100%;
    background: $features-section-bg-color;
    background-image: url(../assets/features-section-assets/features-section-pattern1.png),
      url(../assets/features-section-assets/features-section-pattern2.png),
      url(../assets/header-assets/header-pattern1.svg);
    background-position: right bottom, left top, right center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 50px 0;
    @include flexbox;
    text-align: center;

    &__title {
      font-size: 2.4rem;
      width: 80%;
      max-width: 400px;
      margin-bottom: 75px;
    }

    .invest-smart-article {
      width: 80%;
      @include flexbox;
      margin-bottom: 75px;

      &__content {
        width: 100%;
        margin-bottom: 50px;
        @include flexbox;
        &__title {
          font-size: 2rem;
        }
        &__description {
          font-size: 1.4rem;
          width: 80%;
          margin: 25px auto;
        }
        &__btn {
          @include button;
          transition: all 0.3s ease-in;

          &:hover {
            background-color: lighten($btn-bg-color, 10%);
          }
          &:active {
            transform: scale(0.95);
            background-color: darken($btn-bg-color, 30%);
          }
        }
      }
      &__graphic {
        width: 100%;
      }
    }

    .detailed-stats-article {
      @extend .invest-smart-article;

      &__content {
        width: 100%;
        margin-bottom: 50px;
        @include flexbox;
        &__title {
          font-size: 2rem;
        }
        &__description {
          font-size: 1.4rem;
          width: 80%;
          margin: 25px auto;
        }
        &__btn {
          @include button;
          transition: all 0.3s ease-in;

          &:hover {
            background-color: lighten($btn-bg-color, 10%);
          }
          &:active {
            transform: scale(0.95);
            background-color: darken($btn-bg-color, 30%);
          }
        }
      }
      &__graphic {
        width: 100%;
      }
    }

    .grow-profit-article {
      @extend .invest-smart-article;

      &__content {
        width: 100%;
        margin-bottom: 50px;
        @include flexbox;
        &__title {
          font-size: 2rem;
        }
        &__description {
          font-size: 1.4rem;
          width: 80%;
          margin: 25px auto;
        }
        &__btn {
          @include button;
          transition: all 0.3s ease-in;

          &:hover {
            background-color: lighten($btn-bg-color, 10%);
          }
          &:active {
            transform: scale(0.95);
            background-color: darken($btn-bg-color, 30%);
          }
        }
      }
      &__graphic {
        width: 100%;
      }
    }
  }
}
